p {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}
.main_headerhome_div {
  width: 100%;
  /* height: 100vh; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -----------------------------------------------------------------  main_headerhome_first_div ----------- */
.bgHeaderHomeTop {
  background: linear-gradient(
    90deg,
    #9e7c93 0%,
    #80707d 35.5%,
    #636673 71.11%,
    #0b6380 100%
  );
  opacity: 50%;
  /* background: linear-gradient(
    to right,
    #9e7c93 0%,
    #80707d 35%,
    #636673 71%,
    #0b6380 100%
  ); */
}

.main_AdvantageSlide_content_div_heading {
  padding-top: 70px;
  font-size: 40px;
  font-weight: 700;
  line-height: 72px;
  text-decoration: underline;
  text-underline-offset: 20px;
  font-family: "Manrope", sans-serif;
  width: 85%;
  text-align: start;
}

.main_headerhome_first_div {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  /* background: linear-gradient(
    to right,
    #9e7c93 0%,
    #80707d 35%,
    #636673 71%,
    #0b6380 100%
  ); */
}

.headerHomeInnerBox {
  width: 89%;
  margin: 0 auto;
}

.headingsHeaderHome {
  font-size: 56px;
  color: white;
  font-weight: 800;
  letter-spacing: 5px;
  word-spacing: 30px;
  margin: 0 auto;
  padding: 105px 0;
  text-align: start;
}

/* -----------------------------------------------------------------  main_headerhome_second_div ----------- */

.main_headerhome_second_div {
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
}

.headerHomeInnerBox > h2 {
  font-weight: 600;
  font-size: 56px;
  color: black;
  line-height: 50px;
  padding: 20px;
  text-align:left;
  font-family: "Manrope", sans-serif;
  line-height: 72px;
}

.main_headerhome_second_div_linear_word {
  background: linear-gradient(
    to right,
    #0b6380 0%,
    #636673 35%,
    #80707d 71%,
    #9e7c93 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-fill-color: transparent;
}

/* -----------------------------------------------------------------  main_headerhome_third_div ----------- */

.main_headerhome_third_div {
  width: 100%;
  /* background-color: #0b6380; */
  /* background: linear-gradient(90deg, #325d75 0%, #385969 47.5%, #445a62 100%); */
  background: #f2f3f4;
  padding: 25px 0;
  margin-bottom: 72px;
}

.AIworkforce {
  max-width: 1380px;
  margin: 0 auto;
  font-size: 32px;
  color: white;
  font-weight: 600;
  text-decoration: underline 4px solid white;
  word-spacing: 15px;
  letter-spacing: 7px;
  text-underline-offset: 10px; /* Adjust the offset as needed */
}

.main_headerhome_third_div_p {
  font-size: 28px;
  color: black;
  text-align: start;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 46px;
}

.aIworkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main_headerhome_third_div_p_span {
  /* background: linear-gradient(81.65deg, #d4ca3f -0.75%, #a67697 86.98%); */
    background: linear-gradient(
    to right,
    #0b6380 0%,
    #636673 35%,
    #80707d 71%,
    #9e7c93 100%
  );
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-fill-color: transparent;
}

/* -----------------------------------------------------------------  main_headerhome_fourth_div ----------- */

.main_headerhome_fourth_div {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

/* ----------------------------------------------------------------- main_headerhome_fifth_right_div ----------- */

.main_headerhome_fifth_div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.textBoxflex {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0;
}

/* main_headerhome_fifth_left_div */

.main_headerhome_fifth_left_div {
  width: 35%;
  display: flex;
  /* background: linear-gradient(90deg, #073e51 -0.07%, #010b0f 100.07%); */
  background: linear-gradient(269.94deg, #216880 0.13%, #1c3a45 146.3%);

  position: relative;
}

.main_headerhome_fifth_left_div_below {
  width: 35%;
  display: flex;
  /* background: linear-gradient(90deg, #073e51 -0.07%, #010b0f 100.07%); */
  background: linear-gradient(269.94deg, #216880 0.13%, #1c3a45 146.3%);
  /* background: #00000066; */

  position: relative;
}

.insideImgBox {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10px;
}

.main_headerhome_fifth_left_div_mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.main_headerhome_fifth_left_div h3 {
  color: white;
  /* z-index: 3; */
  text-align: start;
  font-size: 38px;
  font-weight: 700;
  /* line-height: 72px; */
  letter-spacing: 1px;
}

.main_headerhome_fifth_left_div_below h3 {
  color: white;
  /* z-index: 3; */
  text-align: start;
  font-size: 38px;
  font-weight: 700;
  /* line-height: 72px; */
  letter-spacing: 1px;
}
.whiteBoxDiv {
  background-color: #f2f3f4 !important;
  color: #010b0f !important;
}

.main_headerhome_fifth_left_div_h4_div {
  /* height: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  gap: 30px;
}

.main_headerhome_fifth_left_div_h4_div > h4 {
  color: white;
  /* z-index: 3; */
  font-size: 28px;
  font-weight: 700;
  text-align: start;
  line-height: 40px;
}

.main_headerhome_fifth_left_div_button_div {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  height: 10%;
  align-items: center;
}
.main_headerhome_fifth_left_div_button {
  border: 1px solid white;
  outline: none;
  /* width: 50%; */
  /* height: 100%; */
  background-color: black;
  color: white;
  z-index: 3;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
}

/* .main_headerhome_fifth_right_div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  padding: 1rem 3rem;
  gap: 100px;
} */

.main_headerhome_fifth_right_div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f3f4;
  padding: 1rem 3rem;
  gap: 100px;
  /* margin-left: 50px; */
}
/* 
.main_headerhome_fifth_right_div > h2 {
  font-size: 52px;
  font-weight: 800;
  color: white;
  line-height: 72px;
} */

.main_headerhome_fifth_right_div > h2 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  color: black;
  line-height: 72px;
  text-align: start;
  /* max-width: 845px; */
}

.main_headerhome_fifth_right_div > h3 {
  font-size: 24px;
  font-weight: 500;
  color: black;
  line-height: 56px;
  letter-spacing: 1px;
  text-align: start;
  /* max-width: 845px; */
}

/* ----------------------------------------------------------------------------------------  main_headerhome_sixth_div ------------ */

.main_headerhome_sixth_div {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_headerhome_sixth_right_div {
  width: 35%;
  height: 100%;
  background: linear-gradient(to right, #073b4d 0%, #365171 50%, #666895 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main_headerhome_sixth_right_div_mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.main_headerhome_sixth_right_div_h3 {
  font-size: 38px;
  color: white;
  font-weight: 600;
  text-align: center;
  z-index: 3;
}

.main_headerhome_sixth_right_div_subheading_div {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
  padding: 0 70px;
}
.Advantagebox {
  padding: 72px 15px 105px 15px;
  margin: 1rem 0;
}
.main_headerhome_sixth_right_div_subheading_div > h3 {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: start;
}

.main_headerhome_sixth_right_div_button_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 15%;
  z-index: 3;
}

.main_headerhome_sixth_right_div_button {
  width: 40%;
  height: 100%;
  border: 2px solid white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: black;
}

.main_headerhome_sixth_left_div {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_headerhome_sixth_left_content_div {
  /* background-color: black; */
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main_headerhome_sixth_left_div_h1 {
  font-size: 42px;
  font-weight: 600;
  color: black;
}

.main_headerhome_sixth_left_div_h3 {
  font-size: 28px;
  font-weight: 600;
  color: black;
}

/* ---------------------------------------------------------------- main_AdvantageSlide_div ------------ */

.main_AdvantageSlide_div {
  width: 100%;
  background: #f2f3f4;
}

.main_AdvantageSlide_content_div {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f4;
}

.main_AdvantageSlide_content_div_h1 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  word-spacing: 14px;
  text-decoration: 4px solid underline white;
  text-underline-offset: 10px; /* Adjust the offset as needed */
}

.main_AdvantageSlide_content_div_upper_div {
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0px;
  gap: 5%;
}

.main_AdvantageSlide_content_div_upper_div_section1 {
  width: 30%;
  z-index: 1;
  background-image: url("../Assets/images/contentlayer1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main_AdvantageSlide_content_div_upper_div_section1_h2 {
  font-size: 40px;
  color: white;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: start;
}

.main_AdvantageSlide_content_div_upper_div_section1_p {
  font-size: 20px;
  color: white;
  font-weight: 500;
  word-spacing: 3px;
  text-align: start;
  line-height: 26px;
}

.main_AdvantageSlide_content_div_upper_div_section2 {
  width: 30%;

  z-index: 1;
  background-image: url("../Assets/images/contentlayer2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main_AdvantageSlide_content_div_upper_div_section3 {
  width: 30%;

  z-index: 1;
  background-image: url("../Assets/images/contentlayer3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main_AdvantageSlide_content_div_upper_div_section4 {
  width: 30%;

  z-index: 1;
  background-image: url("../Assets/images/contentlayer4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main_AdvantageSlide_content_div_upper_div_section5 {
  width: 30%;

  z-index: 1;
  background-image: url("../Assets/images/contentlayer5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

  .markerImg_style{
    height: 100%;
  }

@media only screen and (max-width: 700px) {
  .main_headerhome_first_div {
    padding: 0px 55px;
  }
  .main_headerhome_first_div > h1 {
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 0px;
  }

  .main_headerhome_second_div {
    padding: 0px 55px;
  }
  .main_headerhome_second_div > h2 {
    font-size: 24px;
    word-spacing: 0px;
    /* line-height: 35px; */
  }

  .main_headerhome_third_div {
    height: initial;
    margin-bottom: 0px;
  }
  .main_headerhome_third_div_p {
    width: 100%;
    font-size: 20px;
    word-spacing: 0px;
  }

  .main_headerhome_fifth_left_div_h4_div {
    margin: 30px;
  }

  .main_headerhome_fifth_left_div_button_div {
    height: 10vh;
  }

  .main_headerhome_fifth_left_div {
    font-size: 27px;
  }

  .main_headerhome_fifth_left_div_below {
    font-size: 27px;
  }
  .main_headerhome_fifth_right_div > h3 {
    font-size: 25px;
  }

  /* ----------------------------------------------------------------------- */

  .main_headerhome_sixth_div {
    height: initial;
    flex-direction: column;
  }
  .main_headerhome_sixth_left_content_div {
    margin: 60px;
  }
  .main_headerhome_sixth_left_div {
    width: 100%;
  }

  .main_headerhome_sixth_left_div_h1 {
    font-size: 22px;
  }

  .main_headerhome_sixth_left_div_h3 {
    font-size: 14px;
    margin-top: 50px;
  }

  .main_headerhome_sixth_right_div {
    width: 100%;
  }

  .main_headerhome_sixth_right_div_h3 {
    font-size: 20px;
  }
  .main_headerhome_sixth_right_div_subheading_div {
    margin: 20px;
  }
  .main_headerhome_sixth_right_div_subheading_div > h3 {
    font-size: 17px;
    margin: 15px;
  }
  .main_headerhome_sixth_right_div_button_div {
    height: 10vh;
  }

  /* *--------------------------------------------------------------- */

  .main_AdvantageSlide_content_div_h1 {
    font-size: 20px;
    word-spacing: 0px;
  }

  .main_AdvantageSlide_content_div_upper_div {
    flex-direction: column;
    width: initial;
    justify-content: center;
    align-items: center;
  }
  .main_AdvantageSlide_content_div_upper_div_section1 {
    margin: 20px;
    width: 95%;
  }
  .main_AdvantageSlide_content_div_upper_div_section2 {
    margin: 20px;
    width: 95%;
  }
  .main_AdvantageSlide_content_div_upper_div_section3 {
    margin: 20px;
    width: 95%;
  }
  .main_AdvantageSlide_content_div_upper_div_section4 {
    margin: 20px;
    width: 95%;
  }
  .main_AdvantageSlide_content_div_upper_div_section5 {
    margin: 20px;
    width: 95%;
  }
  .main_headerhome_fifth_left_div_below h3{
    font-size: 21px;
    color: white;
  }
  .main_AdvantageSlide_content_div_heading{
    font-size: 30px;
  }
}
@media (max-width: 1235px) {
  .headingsHeaderHome {
    font-size: 38px;
  }
  .headerHomeInnerBox > h2 {
    font-size: 34px;

    line-height: 39px;
  }
  .main_headerhome_third_div{
    margin-bottom: 0px;
    
  }
  .main_headerhome_third_div_p {
    font-size: 28px;
    line-height: 39px;

  }
  .main_headerhome_fourth_div {
    padding: 50px 0;
  }
  .main_AdvantageSlide_content_div_upper_div_section1_h2 {
    font-size: 35px;
  }

  .Advantagebox {
    width: 380px;
    height: 480px;
    padding: 15px;
    margin: 1rem 0;
  }
  .main_headerhome_fifth_left_div h3 {
    color: white;
    /* z-index: 3; */
    font-size: 21px;
  }

  .main_headerhome_fifth_left_div_h4_div > h4 {
    color: white;

    font-size: 18px;
    font-weight: 700;
    text-align: start;
  }

  .main_headerhome_fifth_right_div > h2 {
    font-size: 30px;
    font-weight: 800;

    line-height: 39px;
  }
  .main_headerhome_fifth_right_div > h3 {
    font-size: 24px;
  }
  .main_headerhome_fifth_right_div {
    gap: 45px;
    margin-left: 0px;
  }
  .insideImgBox {
    gap: 5%;
  }
  .main_headerhome_fifth_left_div_button {
    font-size: 16px;
  }
    .main_headerhome_fifth_left_div_below h3{
    font-size: 21px;
    color: white;
  }
    .main_headerhome_fifth_div {
    height: initial;
    flex-direction: column;
    margin: 0px 0px;
  }  
  .main_headerhome_fifth_left_div {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 630px;
    overflow: hidden;
  }
    .main_headerhome_fifth_right_div {
    width: 100%;
    padding: 50px;
  }
    .main_headerhome_fifth_left_div_below {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 630px;
  }
  .markerImg_style{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .markerImg {
   width: 100%;
   height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .main_headerhome_fifth_div {
    height: initial;
    flex-direction: column;
    margin: 0px 0px;
  }
  .main_headerhome_fifth_right_div {
    width: 100%;
    padding: 50px;
  }
  .main_headerhome_fifth_left_div {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 630px;
  }
  .main_headerhome_fifth_left_div_below {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 630px;
  }
  .markerImg {
   width: 100%;
   height: 100%;
  }
  .main_headerhome_third_div {
    padding: 20px 0;
    margin-bottom: 0px;
  }
    .aIworkBox {
    gap: 50px;
    margin-bottom: 35px;
  }
  .main_headerhome_fifth_left_div_below h3{
    font-size: 21px;
    color: white;
  }
  .main_AdvantageSlide_content_div_heading{
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .headingsHeaderHome {
    font-size: 30px;
  }
  .headerHomeInnerBox > h2 {
    font-size: 29px;
    line-height: 34px;
  }
  .textBoxflex {
    gap: 30px;
    padding: 55px 0;
  }
  /* .aIworkBox {
    gap: 34px;
  } */
  .main_headerhome_third_div_p {
    font-size: 27px;
    line-height: 34px;
  }
  .aIworkBox {
    gap: 50px;
    margin-bottom: 35px;
  }
  .main_headerhome_third_div {
    padding: 20px 0;
    margin-bottom: 0px;
  }
  .main_AdvantageSlide_content_div_upper_div_section1_h2 {
    font-size: 28px;
  }
    .main_headerhome_fifth_div {
    height: initial;
    flex-direction: column;
    margin: 0px 0px;
  }
   .main_headerhome_fifth_left_div_below {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 666px;
  }
  .main_headerhome_fifth_left_div_below h3{
    font-size: 21px;
    color: white;
  }
  .main_AdvantageSlide_content_div_heading{
    font-size: 30px;
  }
}
@media (max-width: 468px) {
  .headingsHeaderHome {
    font-size: 26px;
  }
  .headerHomeInnerBox > h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .main_headerhome_third_div_p {
    font-size: 25px;
    line-height: 34px;
  }
  .main_headerhome_fourth_div {
    padding: 25px 0;
  }
  .main_AdvantageSlide_content_div_upper_div_section1_h2 {
    font-size: 22px;
  }
  .Advantagebox {
    width: 80%;
    height: initial;
    padding: 15px;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_headerhome_third_div {
    padding: 20px 0;
    margin-bottom: 0px;
  }
    .main_headerhome_fifth_div {
    height: initial;
    flex-direction: column;
    margin: 0px 0px;
  }
    .aIworkBox {
    gap: 50px;
    margin-bottom: 35px;
  }
   .main_headerhome_fifth_left_div_below {
    width: 100%;
    /* padding: 50px; */
    align-items: center;
    height: 666px;
  }
  .main_headerhome_fifth_left_div_below h3{
    font-size: 21px;
    color: white;
  }
  .main_AdvantageSlide_content_div_heading{
    font-size: 30px;
  }
}
